/* Estilos específicos para el panel de entrenadores */
body {
    background: linear-gradient(rgba(12, 12, 24, 0.288), rgba(0, 0, 0, 0.226)),
        url('/static/img/cae5822082eb9c4701b68feca64caf31_edit_240689602803964.jpg') center/cover fixed;
}

.container-entrenadores {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-container-entrenadores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trainer-list {
    height: 400px;
    overflow-y: auto;
}

.trainer-form {
    height: 500px;
}

.routines {
    height: 260px;
}

.routine-list {
    height: 300px;
    overflow-y: auto;
}

#modal-asignaciones .modal-content,
#modal-rutinas .modal-content {
    max-width: 800px;
}

#modal-asignaciones table,
#modal-rutinas table {
    margin-top: 15px;
}

@media (max-width: 992px) {
    .grid-container-entrenadores {
        grid-template-columns: 1fr;
    }
}